
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Browse Product</title>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

  </head>

  <body>
    <div class="max-w-[1200] margin-auto p-2">
      <slot />
    </div>
  </body>
</html>